@model Inmobiliaria.Web.Models.Propietario
<h2>Propietario</h2>
<p><b>DNI:</b> @Model.Dni</p>
<p><b>Nombre:</b> @Model.Nombre</p>
<p><b>Apellido:</b> @Model.Apellido</p>
<p><b>Teléfono:</b> @Model.Telefono</p>
<p><b>Email:</b> @Model.Email</p>
<a asp-action="Index">Volver</a>
